h1 {
    background-color: limegreen;
    padding: 10px;
    color: aliceblue;
}
body {
    font-family: sans-serif;
}
nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    display: flex;
    justify-content: space-between;
}header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}

